html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header {
    background-color: #EEEFF1;
    margin-bottom: 119px;
}

.header-item-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    margin-bottom: 150px;
}

.header-item-nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.header-item-nav li {
    padding-right: 46px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
}

.header-item-nav li:last-child {
    padding-right: 0;
}

.header-item-nav a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.header-item-nav a:hover {
    color: #34547A;
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 146px;
}

.header-content-image {
    margin-right: 131px;
}

.text-h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    padding-bottom: 60px;
}

.text-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    max-width: 540px;
    width: 100%;
    padding-bottom: 60px;

}

.header-content-btn {
    border: none;
    padding: 25px 41px;
    background-color: #34547A;
    color: #EEEFF1;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-transform: uppercase;
}

.about {
    text-align: center;
}

.about-h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 50px;
}

.about-p {
    max-width: 540px;
    margin: 0 auto;
    color: #727272;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 100px;
}

.numbers {
    background-color: #34547A;
    margin-bottom: 100px;
}

.numbers-flex {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
    align-items: center;
}

.numbers-flex-item {
    display: flex;
    padding-bottom: 10px;
}

.numbers-text-h3 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #EEEFF1;
}

.numbers-text-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #EEEFF1;
}

.numbers-img {
    padding-right: 20px;
}




.skills-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}


.left-text-h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 50px;
}


.progres-bar {
    display: flex;
    width: 445px;
    height: 4px;
    background-color: #C4C4C4;
    margin-bottom: 30px;
}

.progres-bar-completed {
    background-color: #34547A;
}

.progres-bar-text-p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}

.skills-item-left {
        max-width: 445px;
    width: 100%;
    padding-right: 50px;
}

.skills-item-right {
    max-width: 450px;
}

.work {
    background-color: #EEEFF1;
    text-align: center;
}

.work-title-h2 {
    padding-top: 100px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 50px;
}

.work-title-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    max-width: 540px;
    width: 100%;
    margin: 0 auto 57px;
}

.work-video-flex {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-video {
    width: 100%;
    max-height: 600px;
    padding-bottom: 50px;
    object-fit: cover;
}



@media screen and (max-width:1280px) {
    .container {
        padding: 0 15px;
    }

    .progres-bar {
       max-width: 100%;

    }

    .numbers-flex {
        flex-direction: column;
        padding: 30px 0;
    }

    .numbers-flex-item {
        padding-bottom: 15px;
    }
}

@media screen and (max-width:790px) {
    .header-item-nav ul {
        flex-direction: column;
    }

    .header-item-flex {
        align-items: center;
        justify-content: center;

    }

    .header-item-nav li {
        padding: 0;
        text-align: center;
    }

    .header-item-icon {
        margin: 0;

    }

    .text-h2 {
        font-weight: 500;
        font-size: 29px;
        line-height: 35px;
        color: #000000;
        padding-bottom: 15px;
        text-align: center;
    }

    .header-content {
        flex-direction: column;
    }

    .text-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
        text-align: center;
        width: 100%;
        padding-bottom: 60px;
    }

    .header-content-image {
        margin-right: 0;
        padding-bottom: 45px;
    }

    .skills-item {
        flex-direction: column;
    }

    .skills-item-left {
        margin-bottom: 35px;
    }

    .header-content-btn {
        display: block;
        margin: 0 auto;
    }

    .left-text-h2 {
        text-align: center;
    }
}